In [1]:
import numpy as np
import pandas as pd

In [6]:
pd.read_csv('../data/raw/aact_txt_files/designs.txt', sep='|')

,id,nct_id,allocation,intervention_model,observational_model,primary_purpose,time_perspective,masking,masking_description,intervention_model_description,subject_masked,caregiver_masked,investigator_masked,outcomes_assessor_masked
0,151097792,NCT03539705,NaN,NaN,OTHER,NaN,OTHER,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,151097793,NCT05781542,RANDOMIZED,SINGLE_GROUP,NaN,PREVENTION,NaN,NONE,NaN,NaN,NaN,NaN,NaN,NaN
2,150651222,NCT03821272,RANDOMIZED,PARALLEL,NaN,TREATMENT,NaN,DOUBLE,NaN,PepCan or placebo randomized at a 3:1 ratio in...,t,f,t,f
3,150651223,NCT05904769,NON_RANDOMIZED,PARALLEL,NaN,HEALTH_SERVICES_RESEARCH,NaN,NONE,NaN,NaN,NaN,NaN,NaN,NaN
4,150651224,NCT06246526,NON_RANDOMIZED,SINGLE_GROUP,NaN,TREATMENT,NaN,NONE,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557093,150986432,NCT06876701,NaN,SINGLE_GROUP,NaN,TREATMENT,NaN,NONE,NaN,NaN,NaN,NaN,NaN,NaN
557094,150986433,NCT07208903,NaN,NaN,CASE_ONLY,NaN,PROSPECTIVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
557095,150986434,NCT07208201,NaN,NaN,OTHER,NaN,CROSS_SECTIONAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
557096,150986435,NCT07207642,NaN,NaN,CASE_CROSSOVER,NaN,PROSPECTIVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
557097,150986436,NCT07209059,NaN,SINGLE_GROUP,NaN,TREATMENT,NaN,NONE,NaN,"Single-arm, response-adapted treatment model. ...",NaN,NaN,NaN,NaN